body{
    background-color: rgb(247, 161, 255);
    background-size:contain
}

.img{
    display: flex;    
    justify-content: center;
    align-items: center;
    }
    
h1{ 
text-align: center;
size: 60PX;
}

p{
justify-content: center;
text-align: center;
}

.letter{
font-size: 48rem
}

img{
justify-content: center;
}

footer{
    display: flex;
    justify-content: center;
    align-items: center;
}